#root .App {
  margin-top: 1em;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* PageHeader */
.PageHeader {
  margin-top: 40px;
}

.AppDetails {
  color: #FFF;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.PageHeaderImage {
  // background: url(https://images.pexels.com/photos/163036/mario-luigi-yoschi-figures-163036.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed;
  // -webkit-background-size: cover;
  // -moz-background-size: cover;
  // -o-background-size: cover;
  // background-size: cover;
  height: 100%;
  // width: 260px;
}

.CloudBubble {
  background: white;
  border: 1px solid #000;
  border-radius: 20px;
}

/* Welcome */

/* Footer */
footer {
  background-color: #BA5425;
  border-top: 2px solid #000;
  font-weight: bold;
}

.FooterBushes {
  border-radius: 15px 15px 0 0;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  font-size: 1em;
}

.MiddleBush {
  background: #4ca730;
}

.OuterBushes {
  background: #C6F552;
}


/* Forms */
.FormUp {
  background: #E47134;
  // border: 5px solid;
  border-top: 5px solid #C43126;
  border-left: 5px solid #C43126;
  border-right: 5px solid #020000;
  border-bottom: 5px solid #020000;
}
